VITE_LOGO=/logo-demo.png
VITE_GOVERNMENT_NAME=Municipalidad de Argentina
VITE_CURRENT_MAYOR=Intendente de Argentina
VITE_CURRENT_PATRIMONY_DIRECTOR=Director de Patrimonio de Argentina

VITE_SUPABASE_URL=supabase_project_url
VITE_SUPABASE_PUBLISHABLE_KEY=supabase_project_key